layout {
	cwd "/home/dnk/projects/bookclub-app/"
	default_tab_template {
	    pane size=1 borderless=true {
	        plugin location="zellij:status-bar"
	    }
		children
	    pane size=1 borderless=true {
	        plugin location="zellij:tab-bar"
	    }
	}
	tab name="src"
    tab name="run backend" {
		pane command="cargo" {
			args "watch" "-x" "run"
			cwd "backend/"
			start_suspended false
		}
	}
	tab name="run frontend" {
		pane command="npm" {
			args "run" "dev"
			cwd "frontend/"
			start_suspended false
		}
	}
}
