layout {
	cwd "/home/dnk/projects/scrabbler"
	default_tab_template {
	    pane size=1 borderless=true {
	        plugin location="zellij:status-bar"
	    }
		children
	    pane size=1 borderless=true {
	        plugin location="zellij:tab-bar"
	    }
	}
	tab name="src" focus=true {
		pane edit="src/"
	}
	tab name="run" {
		pane command="cargo" {
			args "run"
			start_suspended true
		}
	}
	tab name="test" {
		pane command="cargo" {
			args "test"
			start_suspended true
		}
	}
}
